.section-title {
    text-align: center;
}

.undermark {
    color: red;
    border-bottom: 1px solid;
    width: 45px;
    margin-left: auto;
    margin-right: auto;
}

.font-sizing span {
    font-weight: 800;
}

.skill-details {
    align-items: center;
}